<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit a Review</title>
  <link rel="stylesheet" href="reviews.component.css">
</head>
<body>
  <div class="container">
    <h1>Submit a Review</h1>
    <form action="http://localhost:5000/api/v1.0/feedback"  method="post" class="review-form">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>
      </div>
      <div class="form-group">
        <label for="stars">Stars:</label>
        <input type="number" id="stars" name="stars" min="1" max="5" required>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" class="submit-btn">
      </div>
    </form>
  </div>




</body>
</html>

