<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CS.Insights</title>
  <link rel="stylesheet" href="search.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

  <main class="container mt-5">
    <h1 class="text-center">Search For A Skin</h1>
    <section class="search-form mt-4 mb-5">
      <form (submit)="onSubmit(searchTerm.value)">
        <div class="input-group mb-3">
          <input #searchTerm type="text" class="form-control" name="term" placeholder="Example: AWP | Dragon Lore" aria-label="Game search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
          </div>
        </div>
      </form>
    </section>

    <section class="game-cards row">
      <div *ngFor="let business of business_list | async" class="col-md-4">
        <div class="card mb-3" [routerLink]="['/businesses', business._id]">
          <div class="card-header">{{ business.name }}</div>
          <img src="https://steamcommunity-a.akamaihd.net/economy/image/{{ business.icon_url }}" class="card-img-top" alt="{{ business.name }} Image">
          <div class="card-body">
            <h5 class="card-title">{{ business.name }}</h5>
            <p class="card-text">Gun Type: {{business.gun_type}} - {{business.rarity}}</p>
            <p class="card-text">Exterior: {{business.exterior ?? 'N/A'}}</p>
            <p class="card-text"><b>Tradeable:</b> {{ business.tradable == 1 ? 'Tradable' : 'Untradable' }}</p>
            <p class="skin-price">{{ business.price ? '£' + (business.price['7_days']?.average ?? 'No Recent Listings') : 'Item Not Sellable.' }}</p>
          </div>
          <div class="card-footer">
            {{ business.review_count }} reviews
          </div>
        </div>
      </div>
    </section>
  </main>
<BR><BR><BR><BR> <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

<footer>
  <p>© 2024 CS.Insights. All rights reserved.</p>
  <nav>
      <ul> 
      </ul>
  </nav>
</footer>
</html>
