<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Reviews</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .error { border-color: red; }
        .skin-card, .review-card { transition: transform 0.2s; }
        .skin-card:hover, .review-card:hover { transform: scale(1.05); }
        .card-header, .card-footer { background-color: #007bff; color: white; } /* Consistent color */
    </style>
</head>
<body>

<div class="container">
    <h1 class="text-center display-4"><u>Reviews</u></h1>
    <div class="row justify-content-center mt-5">
        <!-- Gun Details Column -->
        <div class="col-md-4">
            <div *ngFor="let business of business_list | async" class="card skin-card mb-4">
                <div class="card-header">
                    {{ business.name }}
                </div>
                <img src="https://steamcommunity-a.akamaihd.net/economy/image/{{ business.icon_url }}" class="card-img-top" alt="{{ business.name }} Image" onerror="this.onerror=null; this.src='default-image-url';">
                <div class="card-body">
                  <h5 class="card-title">{{ business.name }}</h5>
                  <br>
                  <p class="card-text"><b>Gun Type:</b> {{business.gun_type}} - {{business.rarity}}</p>
                  <p class="card-text"><b>Exterior:</b> {{ business.exterior ?? 'N/A' }}</p>
                  <p class="card-text"><b>Tradeable:</b> {{ business.tradable == 1 ? 'Tradable' : 'Untradable' }}</p>

                </div>
                <div class="card-footer">
                    <small>{{ business.review_count }} Reviews</small>
                </div>
            </div>
        </div>

        <!-- Review Submission Form Column -->
        <div class="col-md-4">
            <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
                <div class="card shadow-sm mb-4">
                    <div class="card-header">
                        Rate this Skin
                    </div>
                    <div class="card-body">
                        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label for="name">Username</label>
                                <input type="text" id="name" class="form-control" formControlName="username" [ngClass]="{'error': isInvalid('username')}">
                            </div>
                            <div class="form-group">
                                <label for="review">Please leave your review below</label>
                                <textarea id="review" rows="3" class="form-control" formControlName="comment" [ngClass]="{'error': isInvalid('comment')}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="stars">Please provide a rating (5 = best)</label>
                                <select id="stars" class="form-control" formControlName="stars">
                                    <option value="1">1 star</option>
                                    <option value="2">2 stars</option>
                                    <option value="3">3 stars</option>
                                    <option value="4">4 stars</option>
                                    <option value="5">5 stars</option>
                                </select>
                            </div>
                            <span *ngIf="isIncomplete()" class="text-danger">You must complete all fields</span>
                            <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary mt-3">Submit</button>
                        </form>
                    </div>
                </div>
                 <div class="container">
    <!-- Your content here -->
</div>
            </ng-container>
            <ng-template #loggedOut>
                <div class="alert alert-warning" role="alert">
                    Please login to review this game!
                </div>
            </ng-template>
        </div>
        <!-- Reviews List Column -->
        <div class="col-md-4">
            <div *ngFor="let review of reviews | async" class="card review-card mb-4">
                <div class="card-header">
                    Review by {{ review.username }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ review.comment }}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">Rating: {{ review.stars }} stars</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <h1 class="text-center display-4">Prices</h1>
  <div class="row justify-content-center mt-5">
      <!-- Iterate over each business -->
      <div *ngFor="let business of business_list | async" class="mb-4 w-100">
          <h3 class="text-center">{{ business.name }}</h3>
          <div class="d-flex flex-row justify-content-around">
              <!-- 7 Days Average Price Container -->
              <div class="card skin-card mb-4" style="width: 24%;">
                  <div class="card-body">
                      <h5 class="card-title">7 Days Average</h5>
                      <p class="card-text">£{{ business.price['7_days'].average }}</p>
                  </div>
              </div>
              <!-- 30 Days Average Price Container -->
              <div class="card skin-card mb-4" style="width: 24%;">
                  <div class="card-body">
                      <h5 class="card-title">30 Days Average</h5>
                      <p class="card-text">£{{ business.price['30_days'].average }}</p>
                  </div>
              </div>
              <!-- All Time Average Price Container -->
              <div class="card skin-card mb-4" style="width: 24%;">
                  <div class="card-body">
                      <h5 class="card-title">Highest Sale Price</h5>
                      <p class="card-text">£{{ business.price['all_time'].highest_price }}</p>
                  </div>
              </div>
              <!-- All Time Sold Container -->
              <div class="card skin-card mb-4" style="width: 24%;">
                  <div class="card-body">
                      <h5 class="card-title">7 Days Sold</h5>
                      <p class="card-text">Amount Sold: {{ business.price['7_days'].sold }}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
            <small class="text-white"><form [formGroup]="LibraryAddForm" *ngIf = "authService.user$ | async as bookmark" (ngSubmit)="addToLibrary(bookmark.email)">
              <div class="form-group text-center">
                <button type="submit" class="btn btn-success">Add to Library</button>
                </div>


                <footer>
                  <p>© 2024 CS.Insights. All rights reserved.</p>
                  <nav>
                      <ul>
                          <li><a href="#">Privacy Policy</a></li>
                          <li><a href="#">Terms of Use</a></li>
                          <li><a href="#">Contact Us</a></li>
                      </ul>
                  </nav>
                  <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                  </div>
              </footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
  function addToLibrary() {
    alert("Added to Library!");
    // Implement the function's logic here
  }
</script>








